*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #FEFEFE;
}

#root{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.game {
  max-width: 750px;
  margin: auto;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.square.highlight{
  background: #2db7f5;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-info {
  margin-left: 20px;
}
