*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #f5f5d5;
}

#root{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.game {
  max-width: 750px;
  margin: auto;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.game-box{
  position: relative;
}

.border {
  position: absolute;
  display: inline-block;
  width: 175px;
  height: 175px;
  background-color: #e0dfcc;
  border-radius: 9px;
  z-index: -1;
}
.border:nth-child(1){
  top: -9px;
  left: -9px;
}
.border:nth-child(2){
  top: -9px;
  right: -9px;
}
.border:nth-child(3){
  bottom: -9px;
  left: -9px;
}
.border:nth-child(4){
  bottom: -9px;
  right: -9px;
}

.game-board{
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 9px;
  padding: 27px;
  background-color: #f7f7f7;
  border-radius: 9px;
}

.square {
  color: #fff;
  font-size: 99px;
  font-weight: bold;
  line-height: 150px;
  text-align: center;
  outline: none;
  border: 0;
  border-radius: 9px;
  box-shadow: 0 0 2px #222;
}
.square:nth-child(1){
  background-color: #ef3429;
}
.square:nth-child(2){
  background-color: #f68f25;
}
.square:nth-child(3){
  background-color: #4ba846;
}
.square:nth-child(4){
  background-color: #0476c2;
}
.square:nth-child(5){
  background-color: #c077af;
}
.square:nth-child(6){
  background-color: #f8d29d;
}
.square:nth-child(7){
  background-color: #b4a87f;
}
.square:nth-child(8){
  background-color: #d0e4a8;
}
.square:nth-child(9){
  background-color: #4dc7ec;
}
.square.highlight{
  background-color: #52361b;
  color: #ffff00;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-info {
  margin-left: 20px;
}
